* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    );
    display: flex;
    flex-direction: column;
}

/* Navbar */
nav {
    background-color: #b71c1c;
    color: #fff;
    padding: 18px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Card login */
.container {
    background-color: #ffffff;
    width: 380px;
    margin: auto;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.45);
    animation: fadeIn 0.8s ease;
    
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo */
.logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 120px;
}

/* Título */
.container h2 {
    text-align: center;
    color: #b71c1c;
    margin-bottom: 25px;
}

/* Inputs com ícones */
.input-group {
    position: relative;
    margin-bottom: 18px;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 38px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    background-color: #b71c1c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #d32f2f;
}

/* Erro */
.erro {
    color: #d32f2f;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Responsivo */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 30px;
    }

    nav {
        font-size: 18px;
    }
}



